{% extends 'cet/template.html' %}
{% block content %}
<div id="contents" style="padding: 0px; background: #edeae5; min-height: 100%;">
	
	<div id="profile_header_container">
		<div id="profile_header">
			<!-- Andy's edits below -->
			<div id="profile_thumbnail">
				<img class="img_scaled_wh" src="{{company.get_company_thumbnail_url}}" />
				<div id="menu_user_editprofilepic">
					<input id="menu_user_editprofilepic_upload" type="file" onchange="edit_companyprofilepic(this);" />
					<img class="img_scaled" src="{{STATIC_URL}}assets/icons/upload.svg" />
				</div>
			</div>
			<!-- Andy's edits end -->
			<div id="profile_info">
				<div id="profile_name">{{company.company_name}}</div>
				<div id="profile_follower">{{c_follower_count}} Followers</div>
			</div>
			<div id="profile_toolbox">
				<div id="profile_follow" class="profile_toolbox_item" style="width: 30px; height: 30px; padding: 15px;"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/follow.svg" /></div>
				<div id="profile_follow_check"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/check.svg" /></div>
			</div>
		</div>
	</div>
	
	<div id="dashboard_contents">
		<div id="dashboard_profile_header" class="dashboard_profile_item dashboard_profile_header_company">
			<div id="dashboard_profile_about_wrapper">
				<div id="dashboard_profile_about_icon"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/company.svg" /></div>
				<div id="dashboard_profile_about_content">
					<div id="dashboard_profile_about_header">About <div id="dashboard_profile_about_company">{{company.company_name}}</div></div>
					{% if c_editable %}
					<div id="dashboard_profile_about_edit">Edit</div>
					{% endif %}
					<div class="clear"></div>
					
					<div id="dashboard_profile_about" style="display: block;">
						<div id="dashboard_profile_about_description" data-original="{{company.company_description}}">{{company.company_description}}</div>
						<div id="dashboard_profile_social">
							<div class="dashboard_profile_social_item" id="dashboard_profile_social_facebook">
								<a href="{{company.company_facebook}}"><div class="dashboard_profile_social_item_link"{% if company.company_facebook %} style="display: block;"{% endif %}><img class="img_scaled" src="{{STATIC_URL}}assets/icons/facebook.svg" /></div></a>
								<div class="dashboard_profile_social_inputs_item">
									<input type="text" id="dashboard_profile_social_input_facebook" class="dashboard_profile_social_input" placeholder="Enter the company's Facebook URL" data-original="{{company.company_facebook}}" value="{{company.company_facebook}}" />
								</div>
							</div>
							<div class="dashboard_profile_social_item" id="dashboard_profile_social_website">
								<a href="{{company.company_website}}"><div class="dashboard_profile_social_item_link"{% if company.company_website %} style="display: block;"{% endif %}><img class="img_scaled" src="{{STATIC_URL}}assets/icons/website.svg" /></div></a>
								<div class="dashboard_profile_social_inputs_item">
									<input type="text" id="dashboard_profile_social_input_website" class="dashboard_profile_social_input dashboard_profile_social_input_website" placeholder="Enter the company's Website URL" data-original="{{company.company_website}}" value="{{company.company_website}}" />
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="dashboard_profile_about_tags">
					<div class="dashboard_profile_about_tags_caption">Tags</div>
					{% if company.get_tags_as_list.count == 0 %}
						<div id="dashboard_profile_about_tags_none">This company did not add any tags yet</div>
					{% endif %}
					{% for tag in company.get_tags_as_list %}
						<div class="dashboard_profile_about_tags_item">{{tag.companytag_tag}}</div>
					{% endfor %}
					<form id="dashboard_profile_about_tags_form">
						<input id="dashboard_profile_about_tags_input" type="text" placeholder="Add a Tag..." />
					</form>
				</div>
				<div class="dashboard_profile_about_action">
					<div id="dashboard_profile_about_update" class="dashboard_profile_about_action_item dashboard_profile_about_update_company">
						<div class="dashboard_profile_about_action_icon"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/check.svg" /></div>
						<div class="dashboard_profile_about_action_caption">Update</div>
						<div class="clear"></div>
					</div>
					<div id="dashboard_profile_about_cancel" class="dashboard_profile_about_action_item dashboard_profile_about_cancel_company">
						<div class="dashboard_profile_about_action_icon"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/back.svg" /></div>
						<div class="dashboard_profile_about_action_caption">Cancel</div>
						<div class="clear"></div>
					</div>
				</div>
				<div id="dashboard_profile_about_form">
					<input id="dashboard_profile_about_input_company" type="hidden" value="{{company.company_name}}" />
					<input id="dashboard_profile_about_input_description" type="hidden" value="{{company.company_description}}" />
					<input id="dashboard_profile_about_input_facebook" type="hidden" value="{{company.company_facebook}}" />
					<input id="dashboard_profile_about_input_website" type="hidden" value="{{company.company_website}}" />
					<input id="dashboard_profile_about_input_tags" type="hidden" value="{% for tag in company.get_tags_as_list %}{{tag.companytag_tag}};{% endfor %}" data-original="{% for tag in company.get_tags_as_list %}{{tag.companytag_tag}};{% endfor %}" />
				</div>
			</div>
		</div>

<!-- 		Jeffrey's section; starting with Team -->
		<div class="dashboard_profile_item" style="background-color: #edeae5;">
			<div class="dashboard_profile_header">
				<div class="dashboard_profile_header_icon" style="width: 60px; padding: 15px 0px;"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/connect_dark.svg" /></div>
				<div class="dashboard_profile_header_title">Team</div>
<!-- 				{%if c_editable%}
			
				<div id="dashboard_profile_addbox_team" class="dashboard_profile_addbox">
					<div class="dashboard_profile_addbox_icon"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/add.svg" /></div>
					<div class="dashboard_profile_addbox_text">Add a Team Member</div>
					<div class="clear"></div>
				</div>

				{%endif%} -->

				<div class="clear"></div>
			</div>
			
			{% if company.get_members_as_list.count == 0 %}
				<div class="dashboard_profile_nocontent">This company did not enter any team information.</div>
			{% endif %}
			
			<div id="dashboard_profile_box_container_team" class="dashboard_profile_box_container">

				<div class="about_ourteam_box" style="width: 230px; height: auto;">
					<a href="http://funginstitute.berkeley.edu/people/ken-singer" target="_blank">
						<div class="about_madeby_content_item_photo"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/ken.png" style="margin-left: 15px;"/></div>
						<div class="about_ourteam_name">Ken Singer</div>
						<div class="about_ourteam_position">Managing Director</div>
						<div class="about_ourteam_description">Ken is a serial entrepreneur, technology executive, university lecturer, and director/advisor to numerous startups in the US and Europe. A 14-year veteran of the mobile industry (enterprise software and digital advertising), Ken has been creating mobile solutions since cellphones first connected to the Internet at a whopping 28 kbps. Since then, he has founded or co-founded five companies in the mobility space.</div>
					</a>
				</div>

				<div class="about_ourteam_box" style="width: 230px; height: auto;">
					<a href="http://funginstitute.berkeley.edu/people/ken-singer" target="_blank">
						<div class="about_madeby_content_item_photo"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/ken.png" style="margin-left: 15px;"/></div>
						<div class="about_ourteam_name">Ken Singer</div>
						<div class="about_ourteam_position">Managing Director</div>
						<div class="about_ourteam_description">Ken is a serial entrepreneur, technology executive, university lecturer, and director/advisor to numerous startups in the US and Europe. A 14-year veteran of the mobile industry (enterprise software and digital advertising), Ken has been creating mobile solutions since cellphones first connected to the Internet at a whopping 28 kbps. Since then, he has founded or co-founded five companies in the mobility space.</div>
					</a>
				</div>

				<div class="about_ourteam_box" style="width: 230px; height: auto;">
					<a href="http://funginstitute.berkeley.edu/people/ken-singer" target="_blank">
						<div class="about_madeby_content_item_photo"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/ken.png" style="margin-left: 15px;"/></div>
						<div class="about_ourteam_name">Ken Singer</div>
						<div class="about_ourteam_position">Managing Director</div>
						<div class="about_ourteam_description">Ken is a serial entrepreneur, technology executive, university lecturer, and director/advisor to numerous startups in the US and Europe. A 14-year veteran of the mobile industry (enterprise software and digital advertising), Ken has been creating mobile solutions since cellphones first connected to the Internet at a whopping 28 kbps. Since then, he has founded or co-founded five companies in the mobility space. Ken is a serial entrepreneur, technology executive, university lecturer, and director/advisor to numerous startups in the US and Europe.</div>
					</a>
				</div>

				<div class="about_ourteam_box" style="width: 230px; height: auto;">
					<a href="http://funginstitute.berkeley.edu/people/ken-singer" target="_blank">
						<div class="about_madeby_content_item_photo"><img class="img_scaled_wh" src="{{STATIC_URL}}assets/thumbnails/ken.png" style="margin-left: 15px;"/></div>
						<div class="about_ourteam_name">Ken Singer</div>
						<div class="about_ourteam_position">Managing Director</div>
						<div class="about_ourteam_description">Ken is a serial entrepreneur, technology executive, university lecturer, and director/advisor to numerous startups in the US and Europe. A 14-year veteran of the mobile industry (enterprise software and digital advertising), Ken has been creating mobile solutions since cellphones first connected to the Internet at a whopping 28 kbps. Since then, he has founded or co-founded five companies in the mobility space.</div>
					</a>
				</div>

				<div class="clear"></div>
			</div>
			
		</div>

		<!-- Openings -->
		<div class="dashboard_profile_item" style="background-color: #f7f5f2;">
			<div class="dashboard_profile_header">

				<div class="dashboard_profile_header_icon" style="width: 60px; padding: 15px 0px;"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/job_brown.svg" /></div>
				<div class="dashboard_profile_header_title">Openings</div>

<!-- 				{%if c_editable%}
				<div id="dashboard_profile_addbox_team" class="dashboard_profile_addbox">
					<div class="dashboard_profile_addbox_icon"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/add.svg" /></div>
					<div class="dashboard_profile_addbox_text">Add an Opening</div>
					<div class="clear"></div>
				</div>
				{%endif%} -->
				<div class="clear"></div>

			</div>

<!-- 			{% if company.get_openings_as_list.count == 0 %}
				<div class="dashboard_profile_nocontent">This company has not entered any specific job openings. If you are interested in working for this company, please send them a message.</div>
			{% endif %} -->

			<div class="dashboard_profile_box_container_basic" class="dashboard_profile_box_container">

				<div class="company_basic_box">
					<div class="company_opening_left_box">
						<div class="company_opening_pos_title">Software Engineer Intern</div>
						<div class="company_opening_job_desc">Kloudless is looking for a passionate and experienced Front-End Developer to lead our client-facing application development. To apply, send us your résumé and/or any relevant links (Github, LinkedIn, Dribbble, personal websites, portfolio, etc.) either at work@kloudless.com or by clicking the button below. If you can point us to an application you shipped that we could check out, that would be great!</div>
					</div>
					<div class="company_opening_right_box">
						<div class="company_opening_header">
							<div class="company_opening_req_logo"><img src="{{STATIC_URL}}/assets/icons/key.svg" class="img_scaled"></div>
							<div class="company_opening_req_title">Requirements</div>
						</div>
						<div class="company_opening_req_list">
							<div class="company_opening_req_item">
								<div class="company_opening_req_item_logo"><img src="{{STATIC_URL}}/assets/icons/check_dark.svg" class="img_scaled"></div>
								<div class="company_opening_req_item_content">Available around 10-15 hours per week</div>
								<div class="clear"></div>
								<div class="company_opening_req_item_logo"><img src="{{STATIC_URL}}/assets/icons/check_dark.svg" class="img_scaled"></div>
								<div class="company_opening_req_item_content">A solid foundation in software development, with strong competencies in data structures, algorithms and software design patterns.</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="company_basic_box">
					<div class="company_opening_left_box">
						<div class="company_opening_pos_title">Software Engineer Intern</div>
						<div class="company_opening_job_desc">Kloudless is looking for a passionate and experienced Front-End Developer to lead our client-facing application development. To apply, send us your résumé and/or any relevant links (Github, LinkedIn, Dribbble, personal websites, portfolio, etc.) either at work@kloudless.com or by clicking the button below. If you can point us to an application you shipped that we could check out, that would be great!</div>
					</div>
					<div class="company_opening_right_box">
						<div class="company_opening_header">
							<div class="company_opening_req_logo"><img src="{{STATIC_URL}}/assets/icons/key.svg" class="img_scaled"></div>
							<div class="company_opening_req_title">Requirements</div>
						</div>
						<div class="company_opening_req_list">
							<div class="company_opening_req_item">
								<div class="company_opening_req_item_logo"><img src="{{STATIC_URL}}/assets/icons/check_dark.svg" class="img_scaled"></div>
								<div class="company_opening_req_item_content">Available around 10-15 hours per week</div>
								<div class="clear"></div>
								<div class="company_opening_req_item_logo"><img src="{{STATIC_URL}}/assets/icons/check_dark.svg" class="img_scaled"></div>
								<div class="company_opening_req_item_content">A solid foundation in software development, with strong competencies in data structures, algorithms and software design patterns.</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>


			</div>

		</div>	

		<!-- Needs -->
		<div class="dashboard_profile_item" style="background-color: #edeae5;">
			<div class="dashboard_profile_header">

				<div class="dashboard_profile_header_icon" style="width: 60px; padding: 15px 0px;"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/team_dark.svg" /></div>
				<div class="dashboard_profile_header_title">Needs</div>

<!-- 				{%if c_editable%}
				<div id="dashboard_profile_addbox_team" class="dashboard_profile_addbox">
					<div class="dashboard_profile_addbox_icon"><img class="img_scaled" src="{{STATIC_URL}}assets/icons/add.svg" /></div>
					<div class="dashboard_profile_addbox_text">Add an Opening</div>
					<div class="clear"></div>
				</div>
				{%endif%} -->
				<div class="clear"></div>

			</div>

<!-- 			{% if company.get_openings_as_list.count == 0 %}
				<div class="dashboard_profile_nocontent">This company has not entered any specific job openings. If you are interested in working for this company, please send them a message.</div>
			{% endif %} -->

			<div class="dashboard_profile_box_container_basic" class="dashboard_profile_box_container">

				<div class="company_basic_box">
					<div class="company_needs_inner_box">
						<div class="company_opening_pos_title">Seed Funding</div>
						<div class="company_opening_job_desc">Kloudless is looking for a passionate and experienced Front-End Developer to lead our client-facing application development. To apply, send us your résumé and/or any relevant links (Github, LinkedIn, Dribbble, personal websites, portfolio, etc.) either at work@kloudless.com or by clicking the button below. If you can point us to an application you shipped that we could check out, that would be great!</div>
					</div>
				</div>

				<div class="company_basic_box">
					<div class="company_needs_inner_box">
						<div class="company_opening_pos_title">Mentorship</div>
						<div class="company_opening_job_desc">Kloudless is looking for a passionate and experienced Front-End Developer to lead our client-facing application development. To apply, send us your résumé and/or any relevant links (Github, LinkedIn, Dribbble, personal websites, portfolio, etc.) either at work@kloudless.com or by clicking the button below. If you can point us to an application you shipped that we could check out, that would be great!</div>
					</div>
				</div>

			</div>

		</div>	

		<div class="company_bottom_bar">		
			<div id="company_bottom_message">Interested in working here, investing, providing mentorship, or learning more? Email kloudless@gmail.com.</div>
		</div>		

	</div>
</div>
{% endblock content %}